<div class="page-header">
  <h1>
    Families
    <a href="/families/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>


<div class="row isotope-container">

  <% @families.each do |family| %>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/ideas/847">The <%= family.name %> Family </a>
        </h3>
      </div>

      <div class="panel-body">
        <p>
        </p>

        <div class="btn-group btn-group-justified">
          <a class="btn btn-primary" href="/families/<%= family.id %>"><i class="fa fa-search-plus"></i></a>

          <a class="btn btn-warning" href="/families/<%= family.id %>/edit"><i class="fa fa-edit"></i></a>

          <a data-confirm="Do you really want to delete this idea?" class="btn btn-danger" rel="nofollow" data-method="delete" href="/delete_family/<%= family.id %>"><i class="fa fa-trash-o"></i></a>
        </div>

      </div> <!-- panel body -->
    </div> <!-- panel default -->
  </div> <!-- columns -->

  <% end %>

</div> <!-- container -->
