<div class="page-header">
  <h3>The <%= @family.name %> Family</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="btn-group btn-group-justified">
      <a href="/families" class="btn btn-primary">
        Back
      </a>
      <a href="/families/<%= @family.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_family/<%= @family.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
